<a href="https://colab.research.google.com/github/kluo9/NLP/blob/main/Sentiment_Analysis_finetune_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import re
from tqdm import tqdm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Load data

In [2]:
# Download data
import requests
request = requests.get("https://drive.google.com/uc?export=download&id=1wHt8PsMLsfX5yNSqrt2fSTcb8LEiclcf")
with open("data.zip", "wb") as file:
    file.write(request.content)

# Unzip data
import zipfile
with zipfile.ZipFile('data.zip') as zip:
    zip.extractall('data')

The train data has 2 files, each containing 1700 complaining/non-complaining tweets. Every tweets in the data contains at least a hashtag of an airline.

In [4]:
# Load Train data
# Load data and set labels
data_complaint = pd.read_csv('data/complaint1700.csv')
data_complaint['label'] = 0
data_non_complaint = pd.read_csv('data/noncomplaint1700.csv')
data_non_complaint['label'] = 1

# Concatenate complaining and non-complaining data
data = pd.concat([data_complaint, data_non_complaint], axis=0).reset_index(drop=True)
print(data.head())
# Drop 'airline' column
data.drop(['airline'], inplace=True, axis=1)

# Display 5 random samples
data.sample(5)

       id    airline                                              tweet  label
0   80938     United  @united I'm having issues. Yesterday I rebooke...      0
1   10959     United  @united kinda feel like the $6.99 you charge f...      0
2  130813  SouthWest  Livid in Vegas, delayed, again&amp; again&amp;...      0
3  146589     United  @united the most annoying man on earth is on m...      0
4  117579     United  @united The last 2 weeks I've flown wit u, you...      0

          id                                              tweet  label
2034   28214  Seriously @AmericanAir It was a joke. @jeromej...      1
3378  169572  Look what I just found at #lax. This @American...      1
846    50059  @SouthwestAir a little respect for the intelli...      0
147   157677            @VirginAmerica sent DM and no response?      0
638   146563  45 minutes for luggage. Why I never fly @Ameri...      0